



/* mini project greetings  */

/* body {
  background-color: #b4f2e1;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}
 

h1{
  padding: 20px 20px;

  background-color: #ffe9c5;
  color: #fa9191;
  border-radius: 20px;

}

span {
  color: #eb6383;
} */






















/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


img{
  height: 300px;
  width:300px;
}




*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}


.heading{
  text-align: center;
  text-transform: capitalize;
  padding: 50px;
  margin: 10px;
  color: aqua;
  font-weight: bold;
  }


.img-div {
    display: flex;
    justify-content: center;
}

.img-div img {
  width: 200px;
  height:150px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
} */